<%- if controller_name != 'sessions' %>
  <%= link_to "Logar", new_session_path(resource_name), class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
</a>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Cadastre-se", new_registration_path(resource_name), class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %><br />
<% end %>