<% if user_signed_in? %>
    <div class="container-lg mt-4"> 
        <div class="p-5 mb-4 bg-light border rounded-3"> 
            <div class="row">
                <!-- CHART -->
            <div class="col">
                <%= pie_chart report_path %>
            </div>
            
            <!-- END CHART -->

            <!-- SALARIES LIST GROUP BY RANGE -->
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Salários</th>
                        <th scope="col">Funcionários por salário</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @salaries.each do |salary| %>
                        <tr>
                            <th scope="row"><%= brl_format(salary[0]) %></th>
                            <th scope="row"><%= salary[1] %></th>
                            </th>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <p><a href="/employees" class="btn btn-primary">VER FUNCIONÁRIOS</a></p>
    </div>
<% end %>